{% extends 'base.html' %}

{% block content %}
<!--FORM DATA START-->
<!--FORM-DATA CODE - THIS CONSISTS OF URL INPUTS FROM 2 DIFFERENT WEBSITES FOR COMPARISON. -->
<div class="col-md-12">
    <div class="card-body mt-2">
        <form id="bookingForm" method="POST" action="{{ url_for('check_text') }}"
              class="needs-validation"
              novalidate autocomplete="off">
            {{ form.csrf_token }}

            <!--SHOWS ERRORS IN BLOG URL INPUTS-->
            {% if form.blog_url.errors %}
            <ul class="alert alert-danger errors">
                {% for error in form.blog_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if flag == 'Invalid' and not blog_string %}
            <ul class="alert alert-danger errors">
                <li>This is Invalid URL</li>
            </ul>
            {% endif %}
            <!--BLOG URL ERRORS ENDS-->

            <!--BLOG URL INPUT FORM FIELD-->
            <div class="form-outline mb-4 was-validated">
                <label for="blog-url" class="h4">Blog URL</label>
                <div class="input-group mb-3 was-validated">
                    <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="fa fa-external-link"></i></span>
                    </div>
                    {{ form.blog_url(class_="form-control") }}
                </div>
            </div>
            <!--BLOG URL INPUT FIELD ENDS-->

            <!--SHOWS ERROR IN JIDIPI URL INPUTS-->
            {% if flag == 'Invalid' and not jidipi_string %}
            <ul class="alert alert-danger mt-5 errors">
                <li>This is Invalid URL</li>
            </ul>
            {% endif %}
            {% if jidipi_error %}
            <ul class="alert alert-danger mt-5 errors">
                <li>This field is required.</li>
            </ul>
            {% endif %}
            <!--JIDIPI URL ERRORS ENDS-->

            <!--JIDIPI URL INPUT FORM FIELD-->
            <div class="form-outline mb-4 was-validated">
                <label for="jidipi-url" class="h4">JIDIPI URL</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"><i
                                class="fa fa-external-link"></i></span>
                    </div>
                    {{ form.jidipi_url(class_="form-control", onkeyup="sys_jidipi()") }}
                </div>
            </div>
            <!--JIDIPI URL INPUT FIELD ENDS-->

            <!--OR Condition to check any of JIDIPI URL-->
            <div class="col-12 text-center">
                <h3>OR</h3>
            </div>

            <!--ARCHITECTURES JIDIPI URL INPUT FORM FIELD-->
            <div class="form-outline mb-4 was-validated">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i
                                class="fa fa-external-link"></i></span>
                    </div>
                    {{ form.arch_jidipi_url(class_="form-control", onkeyup="arch_jidipi()") }}
                </div>
            </div>
            <!--ARCHITECTURES JIDIPI URL INPUT FIELD ENDS-->

            <div class="row">
                <!--SUBMIT BUTTON-->
                <div class="col-lg-4 offset-lg-2 text-center">
                    <button class="btn btn-primary btn-block" id="submitButton" type="submit">Submit</button>
                </div>
                <!--CLEAR BUTTON-->
                <div class="col-lg-4 text-center">
                    <button class="btn btn-danger btn-block" type="button"
                            onclick="clearInput()">Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--FORM-DATA ENDS-->

<!--TEMPERORY CODE FOR MESSAGE SHOWING AFTER SCRAPED DATA APPERS-->
<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        {% if flag == True %}-->
<!--        <div class="card-header w-100 p-0 ml-5 mr-5 alert alert-success">-->
<!--            {% elif flag == False %}-->
<!--            <div class="card-header w-100 p-0 ml-5 mr-5 alert alert-danger">-->
<!--                {% else %}-->
<!--                <div class="card-header w-100 p-0 ml-5 mr-5 alert alert-primary">-->
<!--                    {% endif %}-->
<!--                    <span class="d-inline-block btn float-left"><i class="bi bi-1-circle-fill"></i></span>-->
<!--                    {% if flag == True %}-->
<!--                    <span class="card-body d-inline-block p-2">-->
<!--                            <h3 class="card-title">Success</h3>-->
<!--                            <p>All the contents are in correct order.</p>-->
<!--                        </span>-->
<!--                    {% elif flag == False %}-->
<!--                    <span class="card-body d-inline-block p-2">-->
<!--                            <h3 class="card-title">Error</h3>-->
<!--                            <p class="card-text">Contents are in Incorrect Order.</p>-->
<!--                        </span>-->
<!--                    {% else %}-->
<!--                    <span class="card-body d-inline-block p-2">-->
<!--                            <h3 class="card-title">Check Blog Order</h3>-->
<!--                            <p class="card-text">It will check Sequence of paragraph from JIDIPI Url with Blog Url.</p>-->
<!--                        </span>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<hr>

<!--TEXT AFTER COMPARISON BETWEEN 2 URL SHOWS HERE-->
{% if flag == True or flag == False%}
<div class="mt-5 container output-container">
    <div class="left">
        <div class="txt">
            <b><p class="">BLOG TEXT</p></b>
        </div>
        <div id="leftOutput" class="mt-5 output">
        </div>
    </div>
    <div class="right">
        <div class="txt">
            <b><p class="">JIDIPI TEXT</p></b>
        </div>
        <div id="rightOutput" class="mt-5 output">
        </div>
    </div>
</div>
{% endif %}
<!--COMPARISON TEXT ENDS-->
{% endblock content %}