<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


    <title>Blog Comparison</title>
    <style>
        .txt {
            background-color: white;
            width: 100%;
            font-size: xx-large;
        }

        .errors {
            list-style: none;
        }

        .left {
            justify-self: right;
            margin: 10px;
        }

        .right {
            justify-self: left;
            margin: 10px;
        }

        #leftOutput {
            margin-top: 10px;
            word-wrap: break-word;
        }

        #rightOutput {
            margin-top: 10px;
            word-wrap: break-word;
        }

        .output {
            font-size: 20px;
            font-family: Helvetica, sans-serif;
            padding: 10px;
            border-radius: 5px;
            max-width: 450px;
            box-sizing: border-box;
        }

        .output-container {
            display: grid;
            grid-template-columns: auto auto;
            justify-items: center;
            overflow-y: scroll;
            height: fit-content;
            max-height: 500px;
        }

        .green-highlight {
            background-color: #80ed99;
        }

        .red-highlight {
            background-color: #ff5c6c;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <a class="navbar-brand" href="{{ url_for('check_text') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url_for('split_data') }}">Split Data <span
                            class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>
        <div class="col-md-12">
            <div class="card-body mt-5">
                <form id="bookingForm" method="POST" action="{{ url_for('check_text') }}"
                      class="needs-validation"
                      novalidate autocomplete="off">
                    {{ form.csrf_token }}
                    {% if form.blog_url.errors %}
                    <ul class="alert alert-danger errors">
                        {% for error in form.blog_url.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-outline mb-4 was-validated">
                        <label for="blog-url">Blog URL</label>
                        <div class="input-group mb-3 was-validated">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="fa fa-external-link"></i></span>
                            </div>
                            {{ form.blog_url(class_="form-control") }}
                        </div>
                    </div>
                    {% if form.jidipi_url.errors %}
                    <ul class="alert alert-danger mt-5 errors">
                        {% for error in form.jidipi_url.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-outline mb-4 was-validated">
                        <label for="jidipi-url">JIDIPI URL</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="fa fa-external-link"></i></span>
                            </div>
                            {{ form.jidipi_url(class_="form-control") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 offset-lg-2 text-center">
                            <button class="btn btn-primary btn-block" id="submitButton" type="submit">Submit
                            </button>
                        </div>
                        <div class="col-lg-4 text-center">
                            <button class="btn btn-danger btn-block" type="button"
                                    onclick="clearInput()">Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if flag == True %}
<div class="container-fluid">
    <div class="row">
        {% if flag == True %}
        <div class="card-header w-100 p-0 ml-5 mr-5 alert alert-success">
            {% elif flag == False %}
            <div class="card-header w-100 p-0 ml-5 mr-5 alert alert-danger">
                {% else %}
                <div class="card-header w-100 p-0 ml-5 mr-5 alert alert-primary">
                    {% endif %}
                    <span class="d-inline-block btn float-left"><i class="bi bi-1-circle-fill"></i></span>
                    {% if flag == True %}
                    <span class="card-body d-inline-block p-2">
                        <h3 class="card-title">Success</h3>
                        <p>All the contents are in correct order.</p>
                    </span>
                    {% elif flag == False %}
                    <span class="card-body d-inline-block p-2">
                        <h3 class="card-title">Error</h3>
                        <p class="card-text">Contents should be in Incorrect Order.</p>
                    </span>
                    {% else %}
                    <span class="card-body d-inline-block p-2">
                            <h3 class="card-title">Check Blog Order</h3>
                            <p class="card-text">It will check Sequence of paragraph from JIDIPI Url with Blog Url.</p>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container output-container">
    <div class="left">
        <div class="txt">
            <b><p class="">BLOG TEXT</p></b>
        </div>
        <div id="leftOutput" class="mt-5 output">
        </div>
    </div>
    <div class="right">
        <div class="txt">
            <b><p class="">JIDIPI TEXT</p></b>
        </div>
        <div id="rightOutput" class="mt-5 output">
        </div>
    </div>
</div>
{% endif %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function clearInput() {
        const getBlogValue = document.getElementById("blog_url");
        const getJidipiValue = document.getElementById("jidipi_url");
        if (getBlogValue.value != "") {
            getBlogValue.value = "";
        }
        if (getJidipiValue.value != "") {
            getJidipiValue.value = "";
        }
    }
</script>
<script>
    const findDifference = function (e) {
        //Get the left and right input texts
        // leftText = document.getElementById('leftInput').value;
        // rightText = document.getElementById('rightInput').value;
        leftText = '{{ blog_string }}'
        rightText = '{{ jidipi_string }}'

        //find LCS/Common Text
        let commonText = LCS(leftText, rightText);

        //find common/uncommon text and highlight them
        let leftDifferenceDiv = document.getElementById('leftOutput');
        leftDifferenceDiv.innerHTML = highlightText(commonText, leftText);
        leftDifferenceDiv.style.visibility = 'visible';
        leftDifferenceDiv.style.backgroundColor = '#DCDCDC';

        let rightDifferenceDiv = document.getElementById('rightOutput');
        rightDifferenceDiv.innerHTML = highlightText(commonText, rightText);
        rightDifferenceDiv.style.visibility = 'visible';
        rightDifferenceDiv.style.backgroundColor = '#DCDCDC';

        //equalize size of both output divs if on @media (width>1000)
        let maxOffsetHeight = Math.max(
            leftDifferenceDiv.offsetHeight,
            rightDifferenceDiv.offsetHeight
        );

        let vw = Math.max(
            document.documentElement.clientWidth || 0,
            window.innerWidth || 0
        );
        if (vw >= 1000) {
            leftDifferenceDiv.style.height = String(maxOffsetHeight) + 'px';
            rightDifferenceDiv.style.height = String(maxOffsetHeight) + 'px';
        }
    };

    const LCS = function (text1, text2) {
        rows = text1.length;
        cols = text2.length;

        //create a matrix of size (rows+1, cols+1) and fill it with 0s
        let matrix = new Array(rows + 1)
            .fill(0)
            .map(() => new Array(cols + 1).fill(0));

        for (let i = 1; i <= rows; i++) {
            for (let j = 1; j <= cols; j++) {
                //if the characters are equal, value of LCS is 1 + LCS[i-1][j-1]
                if (text1[i - 1] == text2[j - 1]) {
                    matrix[i][j] = 1 + matrix[i - 1][j - 1];
                }
                //else if the characters are un-equal, value of LCS is max of prev row-same col OR prev col-same row
                else {
                    matrix[i][j] = Math.max(matrix[i - 1][j], matrix[i][j - 1]);
                }
            }
        }
        let i = rows;
        let j = cols;
        let reverseCommonText = '';
        while (i > 0 && j > 0) {
            // if characters are equal, append to output and backtrack to diagonal element (i-1, j-1)
            if (text1[i - 1] == text2[j - 1]) {
                reverseCommonText = reverseCommonText + text1[i - 1];
                i = i - 1;
                j = j - 1;
            }
            // if characters are un-equal, backtrack to max element between (i-1, j) OR (i, j-1)
            else {
                if (matrix[i - 1][j] > matrix[i][j - 1]) i = i - 1;
                else j = j - 1;
            }
        }
        //return the reversed string since original order of characters is the opposite
        return reverseCommonText.split('').reverse().join('');
    };

    const highlightText = function (commonText, originalText) {
        let i = 0;
        let j = 0;
        let text = '';

        while (i < commonText.length && j < originalText.length) {
            if (commonText[i] == originalText[j]) {
                text =
                    text + "<span class='green-highlight'>" + originalText[j] + '</span>';
                i++;
                j++;
            } else {
                text =
                    text + "<span class='red-highlight'>" + originalText[j] + '</span>';
                j++;
            }
        }

        //additional unmatched text in the original text
        while (j < originalText.length) {
            text = text + "<span class='red-highlight'>" + originalText[j] + '</span>';
            j++;
        }
        return text;
    };

    findDifference()
</script>
</body>
</html>