{% extends 'base.html' %}

{% block content %}
<!--FORM DATA START-->
<!--FORM-DATA CODE - THIS CONSISTS OF URL INPUT AND NO. OF SENTENCES INPUT IN BASE OF BLOG URL. -->
<div class="col-md-12">
    <div class="card-body mt-5">
        <form id="bookingForm" method="POST" action="{{ url_for('split_data_by_parts') }}"
              class="needs-validation"
              novalidate autocomplete="off">
            {{ form.csrf_token }}

            <!--SHOWS ERRORS IN BLOG URL INPUTS-->
            {% if form.blog_url.errors %}
            <ul class="alert alert-danger errors">
                {% for error in form.blog_url.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!--BLOG URL ERRORS ENDS-->

            <!--BLOG URL INPUT FORM FIELD-->
            <div class="form-outline mb-4 was-validated">
                <label for="blog-url">Blog URL</label>
                <div class="input-group mb-3 was-validated">
                    <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="fa fa-external-link"></i></span>
                    </div>
                    {{ form.blog_url(class_="form-control") }}
                </div>
            </div>
            <!--BLOG URL INPUT FIELD ENDS-->

            <div class="row">
                <!--SUBMIT BUTTON-->
                <div class="col-lg-4 offset-lg-2 text-center">
                    <button class="btn btn-primary btn-block" id="submitButton" type="submit">Submit
                    </button>
                </div>
                <!--CLEAR BUTTON-->
                <div class="col-lg-4 text-center">
                    <button class="btn btn-danger btn-block" type="button"
                            onclick="clearInput()">Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--FORM-DATA ENDS-->

{% endblock content %}

{% block division_content %}
<hr>
{% if status == True %}
<div class="container-fluid">
    <form id="blogForm" method="POST" action="{{ url_for('split_data_by_parts') }}"
          class="needs-validation"
          novalidate autocomplete="off">
        {{ form1.csrf_token }}

        <div class="scrollit-modal">
            <table class="table table-hover">
                <thead style="position: sticky;top: 0">
                <tr>
                    <th class="pr-5 header">Blog Paragraphs</th>
                    <th class="header">Available Sentences</th>
                    <th class="header">Divisive Into</th>
                    <th class="header"></th>
                </tr>
                </thead>
                <tbody>
                {% for idata,length_of_str in data_lst %}
                <tr>
                    <td width="60%">
                        <textarea class="form-control" id="paragraph-{{loop.index}}" rows="7"
                                  readonly>{{ idata }}</textarea>
                    </td>
                    <td width="10%">
                        <input type="text" class="form-control" id="available_sentences-{{loop.index}}"
                               value="{{ length_of_str }}" readonly/>
                    </td>
                    <td width="20%">
                        <input class="form-control" id="data_division_num-{{loop.index}}" name="data_division_num"
                               placeholder="Number of sentences you want!" required="" step="any" type="number"
                               value="">
                    </td>
                    <td width="10%">
                        <button class="btn btn-primary btn-block" id="getButton" type="button" data-toggle="modal"
                                data-target="#exampleModalCenter"
                                onclick="getTextareaText('paragraph-{{loop.index}}', 'available_sentences-{{loop.index}}', 'data_division_num-{{loop.index}}')">
                            Get
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">List of Available Sentences
                                            from Listed Paragraph</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="my-ID">
                                        <div id="show-error" style="visibility: hidden"></div>
                                        <div id="show-data">
                                            <h2 class="mt-4">Sliced Data</h2>
                                            <div class="scrollit">
                                                <table class="table table-hover table-striped table-bordered">
                                                    <thead style="position: sticky;top: 0">
                                                    <tr>
                                                        <th class="pr-5 header">Nos.</th>
                                                        <th class="header">Blog Data</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="paragraph-tbody">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endif %}
{% endblock division_content %}